effective_python/session2_pytest/__pycache__/picnic.cpython-39.pyc
effective_python/session2_pytest/__pycache__/sample.cpython-39.pyc
effective_python/session2_pytest/__pycache__/test_picnic.cpython-39-pytest-7.0.1.pyc
effective_python/session2_pytest/__pycache__/test_sample.cpython-39-pytest-7.0.1.pyc
